
<!-- 
<div class="container">
   <app-card *ngFor="let track of tracks"
    [track]="track"
    (watchListApi)="watchListApi" (deleteFromWishlist)="deleteFromWishlist($event)"
    (updateFromWishlist)="updateFromWishlist($event)"
    [statusCode]="statusCode">
    </app-card>
  </div> -->

  <section class="track-container"
fxLayout
fxLayout.sm="column"
fxLayoutAlign="center"
>
    <app-card *ngFor="let track of tracks" 
    [track]="track"
    [watchListApi]="watchListApi" 
    (deleteFromWishlist)="deleteFromWishlist($event)"
    (updateFromWishlist)="updateFromWishlist($event)"
    [statusCode]="statusCode"></app-card>
</section>