<div class="container">
  <app-card
    *ngFor="let track of tracks"
    [track]="track"
    (addToWishList)="addToWishList($event)"
    [statusCode]="statusCode"
    [url]='track["image"][2]["#text"]' ></app-card>
</div>
<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Country
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">India</a>
    <a class="dropdown-item" href="#">Korea</a>
    <a class="dropdown-item" href="#">Australia</a>
  </div>
</div>


<form class="topnav">
  <input type="text" name="search" placeholder="Search..">
  <button>search</button>
</form>

<h1>this is container</h1>
<div *ngIf="track">
 {{track.name}}
</div>


<button  (click)='getData()'>tracks</button> 



    
  -->